*{
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    font-family: 'Poppins-Regular';
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(239, 243, 239);
}
html{
    scroll-behavior: smooth;
}
hr{
    color: white !important;
    border: 1px solid #656363;
}
.Line{
    border: 1px solid #656363 !important;
    width: 100%;
    color: white;
}
.Top_Most,.Top_Most a{
    outline: none;
    color: #ffffff;
    font-size: 14px;
    text-decoration-line: none;
    padding: 15px;
}

.home-background{
    background: url(../images/IMG-20210708-WA0007.jpg) no-repeat;
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 45px;
}

.Header-top{
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 80px;
    z-index: 1;
}

nav{
    background: transparent;
    background: url('../images/blackgold.jpg') no-repeat;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-top: 0px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px;
}

nav ul li a{
    color: #fff !important;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 8px;
    text-decoration-line: none !important;
}

nav ul li a.active,nav ul li a:hover{
    background: goldenrod;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 0px;
    cursor: pointer;
    display: none;
}

.checkbtn i{
    font-size: 25px;
    font-weight: 900;
    color: goldenrod;
}

#check{
    display: none;
}

@media (max-width: 990px){
    .logo{
        font-size: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #6ea07987;
        top: 72px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: goldenrod;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .top-con{
        max-width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .Top_Most,.Line{
        display: none;
    }
    #navba{
        background-color: #3330;
        color: red;
        max-width: 100%;
        padding: 0px 20px;
    }
}

.main-text{
    color: #ffffff !important;
    text-align: center;
    padding-top: 320px;
    font-family: 'Poppins-Regular';
    letter-spacing: 0.1em;
    font-size: 40px;
    font-weight: 700;
}

.main-text-two{
    color: #ffffff !important;
    text-align: center;
    font-family: 'Poppins-Regular';
    letter-spacing: 0.1em;
    font-size: 25px;
    font-weight: 300;
}

@media (max-width: 990px){
    .main-text{
        font-size: xx-large;
        padding-top: 150px;
    }
}

@media (max-width: 499px){
    .main-text{
        font-size: x-large;
    }
    .main-text-two{
        font-size: medium;
    }
}


.box{
    height: 100%;
    width: 100%;
    background-color: #4441414f;
    padding: 20px 20px 10px 20px;
    margin-top: 120px;
    margin-bottom: 40px !important;
}
.box h4{
    font-weight: 400 !important;
}
h4{
    color: #ffffff !important;
    font-weight: 300 !important;
    font-size: 20px !important;
}
i{
    color: #3c69a4;
    font-size: 20px !important;
}
.text-edit{
    background: transparent;
    border: none;
    outline: none !important;
    color: #757575;
}
.text-edits{
    background: transparent;
    border: none;
    outline: none !important;
    color: #757575;
    font-size: 17px;
}
.search-body i{
    color: #ffffff;
    font-size: 26px !important;
    padding: 17px 15px;
}
.search-btn{
    background-color: goldenrod;
    border-radius: 10px;
    margin-top: 3px;
    border: none;
    outline: none !important;
    width: 100%;
}
#services{
    margin-top: 40px;
    background-color: rgb(239, 243, 239);
}
.s-name h1{
    text-align: center;
    letter-spacing: 0.1em;
    font-family: 'Poppins-Regular';
    font-weight: 700;
    margin: 80px 0px 18px 0px;
}
.small-line{
    border: 0.5px solid #212020;
    display: block;
    margin: auto;
    margin-bottom: 85px;
    width: 75px;
}
.ser-name h1{
    font-family: 'Poppins-Regular';
    font-size: 23px;
    color: #030303;
    padding: 20px 0px 5px 0px;
    letter-spacing: 0.1em;
}
.ser-box{
    width: 100% !important;
    background-color: #efebeb87;
    text-align: center;
    padding: 30px 0px 25px 0px;
    margin-bottom: 60px;
    box-shadow: 1px 2px 2px 0px rgba(51, 52, 54, 0.2);
}
.ser-box:hover{
    border-bottom-right-radius: 4px;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
}

/****Contact***/
.contact-us{
    margin-bottom: 35px;
    text-align: center;
    background-color: rgb(239, 243, 239);
}
.section-title h1{
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-top: 100px;
    font-family: 'Poppins-Regular';
    text-align: center;
    letter-spacing: 0.1em;
}  

.section-title p{
    font-size: 24px;
}

.contact-main{
    background: #131627;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
     margin-top: 30px;
     border-radius: 20px;
}

.form-main{
    background: #131627;
    padding: 30px 30px 0px 30px;
    text-align: left;
    border-radius: 20px;
}

.form-main h2{
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.form-main h2::before{
    content: "";
    position: absolute;
    left: 0%;
    width: 80px;
    height: 3px;
    bottom: 1.5px;
    background-color: goldenrod;
}

.form{
    margin-top: 30px;
}

.contact-us .form-group{
    position: relative;
    display: block;
    margin: 0 0 25px;
}

.form-group input, select{
    width: 100%;
    height: 50px;
    font-weight: 400;
    border-radius: 20px;
    outline: none;
    padding: 0 15px;
    appearance: none;
    border: 1px solid #e7e7e7;
}

.form-group textarea{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    outline: none;
    padding: 15px;
    border: 1px solid #e7e7e7;
    box-shadow: none;
    resize: none;
}

.form-group .btn{
    display: block;
    cursor: pointer;
    width: 100%;
    background-color: goldenrod;
    color: black;
    border-radius: 20px;
    padding: 10px;
}

.form-group .btn:hover{
    background: black;
    color: #333;
}

.contact-address{
    background: goldenrod;
    padding: 30px;
    height: 560px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contact-address h2{
    font-size: 18px;
    margin-bottom: 15px;
    color: black;
    text-align: left;
}

.address li{
    margin-bottom: 10px;
    position: relative;
    color: black;
    
}

.address li:last-child{
    border: none;
    margin: 0;
}

.address li i{
    left: 0%;
    top: 50%;
    color: black;
    width: 25px;
}

.address li a{
    color: black;
}

.social{
    overflow: hidden;
    margin-top: 20px;
    margin-left: -20px;
}

.social li{
    background: #fff3;
    display: block;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.social li a{
    color: black;
    display: block;
}

.social li a i{
    color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 13px;
    transition: all 0.3s ease;
}

.social li:hover a i{
    background: black;
    color: #333;
}

/*******************************About Us********************************/
.about-section{
    width: 100%;
    min-height: 100vh;
    
}

.about-container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.about-container h2{  
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin: 80px 0px 18px 0px;
    font-family: 'Poppins-Regular';
    font-size: 23px;
    color: #030303;
    padding: 20px 0px 5px 0px;   
}

.content-section{
    float: left;
    width: 55%;
}

.image-section{
    float: right;
    width: 40%;
}

.image-section img{
    width: 100%;
    height: auto;
    margin-top: 23px;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .content p{
    margin-top: 10px;
    font-family: "Poppins-Regular";
    font-size: 17px;
    line-height: 1.5;
}

.content-section .content .about-button{
    margin-top: 30px;
}

.content-section .content .about-button a{
    background-color: goldenrod;
    padding: 12px 40px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 1.5px;

}

.content-section .content .about-button a:hover{
    background-color: darkblue;
    color: #fff;
}

.content-section .about-social{
    margin: 40px 40px;
}

.content-section .social i{
    color: goldenrod;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover{
    color: darkblue;
}

@media screen and (max-width: 768px) {
    .about-container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section{
        float: none;
        width: 100%;
        
    }

    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .about-button{
        text-align: center;
    }

    .content-section .content .about-button a{
        padding: 0px 30px;
    }

    .content-section .social{
        text-align: center;
    }
}

/****************************************Partners******************************************/
.clients-wrap{
    width: 90%;
    height: auto;
    text-align: center;
    margin: 60px 50px;
}

.clients-wrap h2{
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin: 80px 0px 18px 0px;
    font-family: 'Poppins-Regular';
    font-size: 23px;
    color: #030303;
    padding: 20px 0px 5px 0px;   
     
}

.clients-wrap hr{
    width: 15px;
    height: 5px;
    background: #26ccca;
    border: none;
    margin: auto;
    margin-top: 30px;
}


.clients-in{
    width: 100%;
    height: auto;
}

.clients-in ul{
    padding: 0;
    margin: 0;
}

.clients-in ul li{
   list-style: none;
   display: inline-block;
   width: 150px;
   height: 100px;
   position: relative;
   overflow: hidden;
   cursor: pointer;
   transition: .5s;
   margin: 10px;
   box-shadow: 0px 0px -2px 0px #555;
}

.clients-in ul li img{
    width: 100%;
    height: 100%;
 }

 .clients-in ul li img:nth-child(1){
    transform: translateY(0);
    transition: .5s;
 }

 .clients-in ul li img:nth-child(2){
    transform: translateY(0);
    transition: .5s;
 }


 /****Hover section***/
 .clients-in ul li:hover img:nth-child(1){
    transform: translateY(0);
    transition: .5s;
 }

 .clients-in ul li:hover img:nth-child(2){
    transform: translateY(-100%);
    transition: .5s;
 }

 @media (max-width: 768px){
     .clients-wrap{
         background: url('../images/IMG-20210602-WA0003.jpg');
     }
 }



 /*************Trending**********************/
.index-trending{
    width: 100%;
    padding: 80px 0px;
}

.wrapper{
    margin: 0px 30px;
}

.trending h1{
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin: 80px 0px 18px 0px;
    font-family: 'Poppins-Regular';
    font-size: 23px;
    color: #030303;
    padding: 20px 0px 5px 0px;   
}

.index-trending article{
    width: 16%;
    background-color: goldenrod;
    margin: 0% 2%;
    float: left;   
}

article h3{
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 24px;
}

article p{
    margin: 20px;
}